<div class="container">
  <div class="example-card-imagem">
    <mat-card>
      <img mat-card-image src="assets/img/Empresa.jpg" alt="">
    </mat-card>
  </div>
  <div class="example-card-Profile">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Arthur Covelo</mat-card-title>
        <mat-card-subtitle>Desevolvedor FullStack</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/Perfil.jpg" alt="Profile Image">
        <div class="btn_menu">
          <a href="https://www.linkedin.com/in/arthurcovelo/" target="_blank" mat-icon-button matTooltip="Accent" color="accent" matTooltip="Linkedin">
            <img src = "assets/img/logo-linkedin.svg" alt=""/>
          </a>
          <a href="https://github.com/ArthurCovelo" target="_blank" mat-icon-button matTooltip="Accent" color="accent" matTooltip="GitHub">
            <img src = "assets/img/logo-github.svg" alt=""/>
          </a>
          <a href="mailto:Arthurcovelo@live.com" target="_blank" mat-icon-button matTooltip="Accent" color="accent" matTooltip="Email para contato">
            <img src = "assets/img/mail-outline.svg" alt=""/>
          </a>
        </div>
        <div></div>
    </mat-card>
  </div>
</div>


